@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;500;700;900&display=swap');

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.red-hat-font {
  font-family: 'Red Hat Display', sans-serif;
}

.li {
  transition: .5s; 
}

.li:hover{
  filter: drop-shadow(0 0 2em #646cffaa);
  color: #505757;
}
.fadeInUp {
  animation : fadeInUp .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

option:hover {
  background-color: #646cffaa;
}